*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*

<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 >
        <a href="@{Application.show(_post.id)}">${_post.title}</a>
    </h2>
    <div class="box">
        <span class="post-author"><span class="label label-info">Written by</span>  ${_post.author.fullname}</span>
        ,
        <span class="post-date">${_post.postedAt.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <div class="post-metadata">
            <span class="post-comments">
                &nbsp;|&nbsp; <a href="@{Application.show(_post.id)}#disqus_thread" = data-disqus-identifier="${_post.id}"></a>
                #{if _post.comments}
                    , latest by ${_post.comments[-1].author}
                #{/if}
            </span>
        #{/if}
        #{elseif _post.tags}
            <span class="post-tags">
                - Tagged 
                #{list items:_post.tags, as:'tag'}
                    <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
        </div>
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.textile().raw()}
        </div>
    #{/if}

    #{if _as == 'full'}
    
    <div class="comments">
    
        <div id="disqus_thread"></div>
		<script type="text/javascript"> 
	    var disqus_shortname = 'kirandir';
	    var disqus_title = '${_post.title}'; 
	    var disqus_developer = 1; // developer mode is on
	    var disqus_identifier = '${_post.id}';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
    	(function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    	})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
  	</div>
#{/if}
</div>