#{extends 'main.html' /}
#{set title:post.title /}

<ul  class="pager">
    #{if post.previous()}
        <li id="previous" class="previous">
            <a href="@{Application.show(post.previous().id)}">&larr; ${post.previous().title}</a>
        </li>
    #{/if}
    #{if post.next()}
        <li id="next" class="next">
            <a href="@{Application.show(post.next().id)}">${post.next().title} &rarr;</a>
        </li>
    #{/if}
</ul>


#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
 
#{display post:post, as:'full' /}
